h1 {
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 6vh;
}
h3 {
	text-transform: capitalize;
	text-align: center;
}
.tall-section {
	margin: 0;
}
.pirate {
	background-color: grey;
	margin-bottom: 4vh;
	padding: 4vh;
}
/* Dropdown Button */
.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    right:0;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    right: 0;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.navbar-header{
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
section1{

height: 90%; 
text-align:center; 
display:table;
width:100%;
}
@media (min-width: 900px) {
	.dropbtn {
    display:none;
    }
}